html {
    position: relative;
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: #FFFEFD;
    font-weight: 300;
    line-height: 1.5;
    font-size: 16px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CCCCCC;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #00FF00;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td, th {
    border: 2px solid #dddddd;
    padding: 10px;
    text-align: left;
    font-size: 18px;
}

h1, h2 { text-align: center; }

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    color: #330;
    font-weight: 100;
    margin-bottom: 15px;
    margin-top: 20px;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-weight: bold;
    font-size: 1rem;
}

h6 {
    font-weight: 300;
    font-size: 0.9rem;
}

a { text-decoration: none; color: #4CA3DD; }

a:hover { text-decoration: underline; color: #8DC4E9; }


footer {
    background-color: #525252;
    position: fixed;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0;
    color: white;
}

footer a {
    text-decoration: none;
    color: #E6E6FA;
    font-size: 50px;
}

.loginForm {
    margin: 75px auto auto;
    border: 3px solid #F7F7F7;
    font-size: 20px;
}

.loginForm input[type=text], input[type=password] {
    background-color: #FBFBFB;
    width: 300px;
    border: 1px solid #006666;
    height: 50px;
    display: block;
    font-size: 18px;
    width: 50%;
}

.loginForm button {
    background-color: #007777;
    color: white;
    padding: 14px 20px;
    margin: 20px 0 0;
    border: none;
    cursor: pointer;
    display: block;
    font-size: 18px;
    width: 50%;
}

.loginForm h3 {color: #d11141;}
