{% extends "base.html" %}
{% block content %}

<div class="loginForm">
  <center>
  <form action="" method="POST">
    {% csrf_token %}
    <p>
    <label for="username">Username</label>
    <input type="text" placeholder="Username" name="username" required value="{{request.form.username}}">
    </p>
    <p>
    <label for="password">Password</label>
    <input type="password" placeholder="Password" name="password" required value="{{request.form.password}}">
    </p>
    <p>
    <button type="submit">Login</button>
    </p>
  </form>

  {% if form.errors %}
  <h3>Credentials do not match</h3>
  {% endif %}
  </center>

</div>

{% endblock content %}
