{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
      {% if user.is_authenticated %}
        <div class="navbar">
          <a href="{% url 'relays:index' %}"> Relays </a>
          <a href="{% url 'dht22:index' %}"> Dht22 </a>
        </div>
        {% endif %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% if title %}
        <title> {{ title }} </title>
        {% else %}
        <title>control-panel</title>
        {% endif %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
