{% extends "relays/base.html" %}
{% block content %}
<h1>Available DHT22 Sensors</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Temperature</th>
      <th>Humidity</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
    {% for dht22 in dht22_list %}
    <tr>
      <td>{{ dht22.name        }}</td>
      <td>{{ dht22.temperature }}</td>
      <td>{{ dht22.humidity    }}</td>
      <td>{{ dht22.date.date   }}</td>
      <td>{{ dht22.date.time   }}</td>
      {% endfor %}
  </table>
</div>

{% endblock content %}
