{% extends "relays/base.html" %}
{% block content %}
<h1>Relays</h1>
    {% for relay in relays_list %}
         {{relay.name}}
         {{relay.state}}
         <form action="/relays/updateState/{{relay.id}}" method="POST">{% csrf_token %}
                 <label class="switch">
                 {%if relay.state %}
                 <input type="checkbox" checked onClick="this.form.submit();">
                 {%else%}
                 <input type="checkbox" onClick="this.form.submit();">
                 {%endif%}
                 <span class="slider round"></span>
                 </label>
        </form>
    {% endfor %}

{% endblock content %}
